@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  color: #001321;
  font-weight: 500;
  background-color: #eee;
}

.section {
  margin-top: 10rem;
}

h1 {
  font-size: 4.8rem;
}

.container {
  max-width: 114rem;
  margin: 0 auto;
  padding: 0rem 1.5rem;
}

.btn {
  text-decoration: none;
  padding: 1.3rem 2.2rem;
}
.btn_outlined {
  border: 2px solid #003459;
  border-radius: 10rem;
  color: #003459;
  font-weight: 600;
}
.btn_bg {
  background_color: #003459;
  color: #fff;
  border: 2px solid #003459;
  border-radius: 10rem;
  margin_left: 1rem;
}

.header {
  width: 100%;
  height: 100vh;
  background-image: url(../../images/header.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.headerwrapper_container {
  width: 100%;
  height: calc(100vh - 12rem);
  display: flex;
  align-items: center;
}
.header_wrapper {
  width: 50%;
}
.header_main_title {
  margin-bottom: 2rem;
  color: #003459;
}
.header_p {
  margin-bottom: 4rem;
}

.nav {
  width: 100%;
  height: 12rem;
}
.nav_container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space_between;
  align-items: center;
}
.nav_left {
  display: flex;
  align-items: center;
}
.nav_logo {
  margin-right: 3rem;
}
.nav_logo img {
  max-width: 10rem;
}
.nav_list {
  display: flex;
  list-style: none;
  align-items: center;
}
.nav_item {
  margin: 0rem 0.8rem;
}
.nav_link {
  text-decoration: none;
  font-weight: 500;
}

.section {
  width: 100%;
}
.section_header {
  width: 100%;
  display: flex;
  justify_content: space-between;
  align-items: center;
  margin-bottom: 4rem;
}
.section_header_p {
  color: #001321;
}
.section_header_h2 {
  color: #e7c88e;
}

.row {
  width: 100%;
  display: grid;
  grid-trmplate-columns: repeat(auto-fit, minmax(24rem, 1fr));
  grid-gap: 2rem;
}

.card {
  padding: 1rem;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}
.card > img {
  width: 100%;
}
.card_body_title {
  font-size: 1.6rem;
  margin: 0.6rem 0rem;
}
.card_body_details {
  width: 100%;
  display: flex;
  margin-bottom: 0.7rem;
}
.card_body_details_gender {
  font-size: 1.4rem;
  margin-right: 1rem;
}
.card_body_details_age {
  font-size: 1.4rem;
}
.card_body_details_price {
  font-weight: 700;
}
.card_body_details_gift {
  margin-top: 1.5rem;
  padding: 1rem;
  background-color: #F7DBA7;
  display: flex;
  font-size: 1.4rem;
  align-items: center;
}
.card_body_details_gift_icon {
  margin-right: 1rem;
}
.card_body_details_gift_p {
  font-weight: 600;
}

.banner {
  width: 100%;
  background_image: url(../../images/banner-1-bg.png);
  background-repeat: no repeat;
}
.banner_wrapper {
  display: flex;
  padding: 0rem 7rem;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.banner_title {
  font-size: 2.4rem;
  margin-bottom: 2rem;
  color: #003459;
}
.banner_p {
  margin-bottom: 4rem;
}
.banner_content {
  text-align: right;
}

/*# sourceMappingURL=styles.css.map */
