// Primary Colors
$primary_color_1: #003459; // Dark Blue - Main branding color
$primary_color_2: #012844; // Deeper Blue - Used for accents or darker components

// Secondary Colors
$secondary_color_1: #F7DBA7; // Light Yellow - Soft, warm highlight color
$secondary_color_2: #e7c88e; // Muted Yellow - Used for subtle highlights or backgrounds
$secondary_color_3: #fffaf0; // Off-white - Provides a soft contrast against darker colors

// Neutral Colors
$white: #fff; // Pure white - Used for backgrounds or text
$text: #001321; // Dark Navy - Standard text color for readability
